<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
    <title>CaptionCall Trainer</title>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    <header class="flex justify-between items-center py-4 px-4 bg-gray-200 shadow-md">
      <h1 class="text-2xl font-bold">CaptionCall Tester</h1>
      <div class="relative">
        <button
          class="flex items-center space-x-2 focus:outline-none"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          onclick="toggleUserMenu()"
        >
          <svg class="w-8 h-8 rounded-full" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            />
          </svg>
          <span class="text-sm font-medium text-gray-700">User</span>
        </button>
        <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-20 hidden" id="user-menu">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 whitespace-nowrap"
            >Email: {{ current_user.email }}</a
          >
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 whitespace-nowrap"
            >Name: {{ current_user.first_name }} {{ current_user.last_name }}</a
          >
          <a href="auth/logout" class="block px-4 py-2 text-sm text-gray-700 whitespace-nowrap">Sign Out</a>
        </div>
      </div>
    </header>
    <script>
      function toggleUserMenu() {
        const menu = document.getElementById('user-menu');
        menu.classList.toggle('hidden');
      }
    </script>
    <div class="container p-4">
      <div class="space-y-4 justify-items-center">
        <!-- TODO make dynamic -->
        <audio controls class="w-100" id="audioPlayer">
          <source src="{{ url_for('static', filename='audio/caption_call.m4a') }}" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <div class="w-full text-center text-sm text-gray-500" id="time-display">0:00:00</div>
        <form>
          <div class="transcription-container flex gap-4 w-full justify-center">
            <!-- <div class="min-w-xl">
              <label for="transcript" class="block mb-2 text-sm font-medium text-gray-900"> Current subtitles </label>

              <textarea
                type="text"
                id="transcript"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-y"
                placeholder="Current subtitle"
                readonly
                rows="20"
                cols="30"
              ></textarea>
            </div> -->
            <div class="">
              <div id="welcome-banner" class="bg-blue-800 text-white text-center p-4 shadow-lg m-4 border border-blue-900 rounded-lg">
                  <p class="text-lg font-semibold">🚀 Welcome {{current_user.first_name }} {{ current_user.last_name }}.</p>
                  <p class="text-md font-semibold">Instructions: Modify the text of the conversation as your hear it, correcting inaccuracies and adding audio cues like [YAWN] as necessary. Ignore the text with "..." and only edit the others.</p>
              </div>
              <label for="editable-transcript" class="block mb-2 text-sm font-medium text-gray-900"> </label>

              <textarea
                id="editable-transcript"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-y"
                placeholder="Full transcript streams here..."
                rows="20"
                cols="30"
                autocomplete="off"
                autocorrect="off"
                spellcheck="false"
              ></textarea>
            </div>
          </div>
          <button
            type="submit"
            id="submit"
            class="mt-4 px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Submit
          </button>
        </form>

        <!-- Modal toggle -->
        <!-- <button data-modal-target="score-results-modal" data-modal-toggle="score-results-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
  Toggle modal
</button> -->

        <!-- Main modal -->
        <div
          id="score-results-modal"
          data-modal-backdrop="static"
          tabindex="-1"
          aria-hidden="true"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative p-4 w-full max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
              <!-- Modal header -->
              <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
              >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Score Breakdown</h3>
                <button
                  type="button"
                  id="close-modal-button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  data-modal-hide="score-results-modal"
                >
                  <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4 text-white" id="score-modal-body">
                <p class="text-white">Loading score...</p>
              </div>

              <!-- Modal footer -->
              <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <!-- <button
                  data-modal-hide="score-results-modal"
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  I accept
                </button>
                <button
                  data-modal-hide="score-results-modal"
                  type="button"
                  class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  Decline
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>
  </body>
</html>
